<header class="header">
  <nav class="header__content">
    <button
      type="button"
      class="header__content__nav-item"
      (click)="openMenuEvent.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a
      href="https://www.youtube.com/watch?v=bjJyzfQ0aBY"
      class="header__content__nav-item--title"
    >
      <h1 class="header__content__nav-title">MusicGame</h1>
    </a>
    <button
      type="button"
      class="header__content__nav-item"
    >
      <mat-icon>info</mat-icon>
    </button>
  </nav>
</header>
