.menu {
  height: 100vh;
  width: 320px;
  overflow-y: auto;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: #F2F2F2;
  padding: 32px 24px 32px 24px;
  border-radius: 0 8px 8px 0;

  @media only screen and (max-width: 600px) {
    width: 100%;
    border-radius: 0;
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    border-bottom: 1px solid #D9D7D9;
    padding-bottom: 24px;
    margin-bottom: 24px;

    &__title {
      font-family: 'Koulen', cursive;
      font-size: 40px;
      line-height: 44px;
      color: #10E85F;
    }

    &__button {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      background: none;
      border: 0;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    overflow-y: auto;
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #F2F2F2;
    }
    ::-webkit-scrollbar-thumb {
      background: #40363D;
    }

    &__item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 16px;

      & + li {
        padding-top: 24px;
        margin-top: 24px;
        border-top: 1px solid #D9D7D9;
      }

      &__title {
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
      }

      &__sublist {
        width: 100%;
        display: grid;
        gap: 16px;
        list-style: none;

        padding: 16px 32px 0 32px;

        &__item {
          font-size: 16px;
          line-height: 18px;
          font-family: "Roboto", sans-serif;

          background: none;
          border: 0;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    border-top: 1px solid #D9D7D9;
    padding-top: 16px;
    margin-top: auto;

    &__text {
      font-size: 16px;

      &__bold {
        text-decoration: none;
        color: #10E85F;
        font-weight: bold;
      }
    }
  }
}
