<div
  class="menu"
  *ngIf="status"
>
  <header class="menu__header">
    <div></div>
    <h1 class="menu__header__title">MusicGame</h1>
    <button
      type="button"
      (click)="closeMenuEvent.emit()"
      class="menu__header__button"
    >
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <ul class="menu__list">
    <li class="menu__list__item">
      <details>
        <summary
          class="menu__list__item__title"
        >Idiomas</summary>
        <ul class="menu__list__item__sublist">
          <li>
            <button
              type="button"
              class="menu__list__item__sublist__item"
            >Português</button>
          </li>
          <li>
            <button
              type="button"
              class="menu__list__item__sublist__item"
            >Inglês</button>
          </li>
        </ul>
      </details>
    </li>
    <li class="menu__list__item">
      <span class="menu__list__item__title">Modo Noturno</span>
      <mat-slide-toggle></mat-slide-toggle>
    </li>
  </ul>
  <footer class="menu__footer">
    <small class="menu__footer__text">
      Criado por
      <a
        href="https://github.com/igorjung"
        class="menu__footer__text__bold"
      >@igorjung</a>
    </small>
  </footer>
</div>
